stanford-parser-full-2018-10-17/
.DS_Store
data/
__pycache__/
test_questions.txt
*.ipynb
ask_when.py
stanford-ner-*/
.env
.vscode/
how_question.ipynb
how_question.ipynb
src/test/a2.txt
how_question.ipynb
src/test/neuralcoref/
src/test/question1.txt
src/test/set3/
.ipynb_checkpoints/how_question-checkpoint.ipynb
how_question.ipynb
how_question.ipynb
